
.background {
    -fx-background-image: url("../images/eriantys_banner_no_items.png");

}

.connectToServer {
    -fx-background-color: rgba(100, 100, 100, .7);
}

.lobbyEntry {
    -fx-background-color: rgba(200, 200, 200, .7);
}

.wizard-btn {
    /*-fx-background-color: blue;*/
}

.table-bg {
    -fx-background-color: #77c4dc;
}

.assistantButton {
    -fx-border-width: 1px;
    -fx-border-color: #3030ff;
    -fx-padding: 0 0 0 0;
    -fx-content-display: center;
    -fx-graphic-text-gap: 10;
    -fx-background-color: transparent;
}

.assistantButton:focused {
    -fx-border-color: #000088;
    -fx-border-width: 3;
}

.assistantButton.chosen {
    -fx-border-color: #000088;
    -fx-border-style: dotted;
    -fx-border-width: 3;
}
